/* 

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
} */


@import "tailwindcss";

/* Ensure the body takes up the full screen */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black; /* Prevents white flash on load */
}