*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', sans-serif;
  color: #130808;
}
html,body{
  height: 100%;
  width: 100%;
}

.card{
  border: 1px solid #ccc;
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: #222;
  gap: 20px;
}
.body{
  background-color: #111;
}
.parent{
padding: 20px;
display: flex;
flex-wrap: wrap;
border-radius: 10px;
background-color: #333;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
.card p{
  margin: 20px 0px;
}
.card img{
  height: 100px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}