*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  background-color: rgb(136, 16, 36);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: rgb(15, 168, 219);
  padding: 20px;
  margin: 5px;
}