*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
} 

button{
  padding: 10px 15px;  
  margin: 15px;

}
h1{
  background-color: gainsboro;
  width: fit-content;
  margin: 20px;
padding: 10px 70px;
font-size: 100px;
}